body{
	margin: 0px;
	background: rgb(239,148,255);
	background: linear-gradient(0deg, rgba(239,148,255,1) 0%, rgba(59,153,230,1) 54%, rgba(81,98,215,1) 100%);
	height: 100vh;
}
h1{
	color: rgb(1, 238, 255);
}
.container{
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	/* height: 100%;
	border: 5px solid pink;
	border-radius: 30px; */
	padding-bottom: 30px;
}
.card{
	border: solid rgb(129, 212, 223) 10px;
	height: 150px;
	width: 150px;
	border-radius: 20px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(198, 197, 197);
	font-weight: 800;
}
.clicked{
	border: solid rgb(20, 93, 108) 10px
}
.tiles{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
#information{
	font-size: larger;
	margin-bottom: 10px;
	color: rgb(247, 209, 94);
	font-weight: 900;
}
#btn{
	margin-top: 30px;
	height: 40px;
	border:0;
	border-radius: 10px;
	width: 100px;
	animation: glow 1s infinite;
}

@keyframes glow{
	0%{
	box-shadow: 5px 5px 20px rgb(93, 52, 168),-5px -5px 20px rgb(93, 52, 168);}
	
	50%{
	box-shadow: 5px 5px 20px rgb(81, 224, 210),-5px -5px 20px rgb(81, 224, 210)
	}
	100%{
	box-shadow: 5px 5px 20px rgb(93, 52, 168),-5px -5px 20px rgb(93, 52, 168)
	}
}